# conf + secrets
PORT=3000
DB_URL=my_db_url
NODE_ENV=development/production

INGEST_EVENT_KEY=xxxxxxxxxxxxxxx
INGEST_SIGNING_KEY=xxxxxxxxxxxxxxx

STREAM_API_KEY=xxxxxxxxxxxxxxx
STREAM_SECRET_KEY=xxxxxxxxxxxxxxx

CLERK_PUBLISHABLE_KEY=xxxxxxxxxxxxxxx
CLERK_SECRET_KEY=xxxxxxxxxxxxxxx